;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [org.clojure/cljs.core.async "1.5.648"]

 :builds
 {:script
  {:target :node-script
   :main agip.rdns/-main
   :output-to "out/script/rdns.js"}
  }}
